
<% if flash.notice.present? %>
<p id="notice" class="alert alert-success"><%= flash.notice %></p>
<% end %>

<p>
  <strong>User:</strong>
  <%= @memo.user_id %>
</p>

<p>
  <strong>Content:</strong>
  <%= @memo.content %>
</p>

<%= link_to 'Edit', edit_memo_path(@memo) %> |
<%= link_to 'Back', memos_path %>
